<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <title>Chart.js </title>


</head>
<body>
<div>
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels =  [{% for item in labels %}
"{{item}}",
{% endfor %}];

  const data = {
    labels: labels,
    datasets: [{
      label: '{{ legend }}',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [{% for item in values %}
"{{item}}",
{% endfor %}],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</body>
</html>