{% extends 'base.html' %}

{% block title %}
Оценка
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post">

        <h1>Техническое обслуживание:</h1>
        <input type="text" name="type" id="type" class="form-control" placeholder="Введите вид ТО"><br>
        <input type="date" name="date_maintenance" id="date_maintenance" class="form-control" placeholder="Введите дату проведения ТО"><br>
           <h1>Замер разбега колёсных пар в буксовых направляющих</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0">
 <thead>
   <tr align="center">
       <td rowspan="3">Колёсная пара</td>

    <th colspan="4">В поперечном направлении, мм</th>
    <th colspan="2">В продольном направлении, мм</th>
   </tr>
             <tr align="center">

    <th colspan="2">Правая букса</th>
    <th colspan="2">Левая букса</th>
       <th rowspan="2">Правая букса</th>
    <th rowspan="2">Левая букса</th>
   </tr>
             <tr align="center">
    <th>лев</th>
    <th>прав</th>
       <th>лев</th>
    <th>прав</th>

   </tr>
    </thead>
   <tr><td>1-я колёсная пара</td>
       <td><input type="number" step="any" name="first_across_rl" id="first_across_rl" class="form-control"></td>
       <td><input type="number" step="any" name="first_across_rr" id="first_across_rr" class="form-control"></td>
       <td><input type="number" step="any" name="first_across_ll" id="first_across_ll" class="form-control"></td>
       <td><input type="number" step="any" name="first_across_lr" id="first_across_lr" class="form-control"></td>
       <td><input type="number" step="any" name="first_lateral_r" id="first_lateral_r" class="form-control"></td>
       <td><input type="number" step="any" name="first_lateral_l" id="first_lateral_l" class="form-control"></td>
   </tr>
             <tr><td>2-я колёсная пара</td>
       <td><input type="number" step="any" name="second_across_rl" id="second_across_rl" class="form-control"></td>
       <td><input type="number" step="any" name="second_across_rr" id="second_across_rr" class="form-control"></td>
       <td><input type="number" step="any" name="second_across_ll" id="second_across_ll" class="form-control"></td>
       <td><input type="number" step="any" name="second_across_lr" id="second_across_lr" class="form-control"></td>
       <td><input type="number" step="any" name="second_lateral_r" id="second_lateral_r" class="form-control"></td>
       <td><input type="number" step="any" name="second_lateral_l" id="second_lateral_l" class="form-control"></td>
   </tr>
  </table>
                 <h1>Замер рессорного подвешивания</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0">
 <thead>
   <tr align="center">
       <td rowspan="3"></td>

    <th colspan="4">1-я колёсная пара (под дизелем)</th>
    <th colspan="4">2-я колёсная пара</th>
   </tr>
             <tr align="center">

    <th colspan="2">Правая рессора</th>
    <th colspan="2">Левая рессора</th>
       <th colspan="2">Правая рессора</th>
    <th colspan="2">Левая рессора</th>
   </tr>
             <tr align="center">
    <th>Правый край Н1</th>
    <th>Левый крайН2</th>
       <th>Правый край Н2</th>
    <th>Левый край Н1</th>
                 <th>Правый край Н1</th>
                 <th>Левый край Н2</th>
                 <th>Правый край Н2</th>
                 <th>Левый край Н1</th>
   </tr>
    </thead>

   <tr><td>Измеренное значение, мм</td>
       <td><input type="number" step="any" name="first_r_spring_H1" id="first_r_spring_H1" class="form-control"></td>
       <td><input type="number" step="any" name="first_r_spring_H2" id="first_r_spring_H2" class="form-control"></td>
       <td><input type="number" step="any" name="first_l_spring_H1" id="first_l_spring_H1" class="form-control"></td>
       <td><input type="number" step="any" name="first_l_spring_H2" id="first_l_spring_H2" class="form-control"></td>
       <td><input type="number" step="any" name="second_r_spring_H1" id="second_r_spring_H1" class="form-control"></td>
       <td><input type="number" step="any" name="second_r_spring_H2" id="second_r_spring_H2" class="form-control"></td>
   <td><input type="number" step="any" name="second_l_spring_H1" id="second_l_spring_H1" class="form-control"></td>
       <td><input type="number" step="any" name="second_l_spring_H2" id="second_l_spring_H2" class="form-control"></td>
   </tr>
             <tr><td>Середина рессора</td>
       <td colspan="2"><input type="number" step="any" name="first_r_spring_m" id="first_r_spring_m" class="form-control"></td>
       <td colspan="2"><input type="number" step="any" name="first_l_spring_m" id="first_l_spring_m" class="form-control"></td>
       <td colspan="2" ><input type="number" step="any" name="second_r_spring_m" id="second_r_spring_m" class="form-control"></td>
       <td colspan="2"><input type="number" step="any" name="second_l_spring_m" id="second_l_spring_m" class="form-control"></td>
   </tr>


</table>
                   <h1>Приборы безопасности</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0">
 <thead>
   <tr align="center">

    <th>Прибор</th>
    <th>Состояние</th>
   </tr>
    </thead>

   <tr><td>БЭЛ</td>
       <td><select name="bel" id="bel">
  <option value="Исправен">Исправен</option>
  <option value="Неисправен">Неисправен</option>
</select></td>
   </tr>
               <tr><td>БИЛ-1</td>
       <td><select name="bil1" id="bil1">
  <option value="Исправен">Исправен</option>
  <option value="Неисправен">Неисправен</option>
</select></td>
   </tr>
               <tr><td>БИЛ-2</td>
       <td><select name="bil2" id="bil2">
  <option value="Исправен">Исправен</option>
  <option value="Неисправен">Неисправен</option>
</select></td>
   </tr>
               <tr><td>БКР</td>
       <td><select name="bkr" id="bkr">
  <option value="Исправен">Исправен</option>
  <option value="Неисправен">Неисправен</option>
</select></td>
   </tr>
                <tr><td>ДУП</td>
       <td><select name="dup" id="dup">
  <option value="Исправен">Исправен</option>
  <option value="Неисправен">Неисправен</option>
</select></td>
   </tr>

  </table>
                        <h1>Дизель-генераторная установка:</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0">
 <thead>
   <tr align="center">

    <th>Наработка от последнего ТО м.ч.</th>
    <th>Тип смазки В картере</th>
       <th>Количество смазки</th>
   </tr>
    </thead>

   <tr><td><input type="number" step="any" name="time" id="time" class="form-control"></td>
       <td><input type="text" name="type_oil" id="type_oil" class="form-control"></td>
       <td><input type="number" step="any" name="amount_oil" id="amount_oil" class="form-control"></td>
   </tr>

  </table>
        <h1>Технические показатели дизельного двигателя:</h1>
        <input type="number" step="any" name="pressure_oil" id="pressure_oil" class="form-control" placeholder="Давление масла при холодном пуске"><br>
        <input type="number" step="any" name="tension" id="tension" class="form-control" placeholder="Натяжение ремней привода генератора прогиб"><br>
        <input type="number" step="any" name="voltage" id="voltage" class="form-control" placeholder="Зарядное напряжение генератора"><br>
 <h1>Гидропередача:</h1>
        <input type="number" step="any" name="pressure_oil_p" id="pressure_oil_p" class="form-control" placeholder="Давление масла питательного насоса "><br>
        <input type="number" step="any" name="pressure_oil_t" id="pressure_oil_t" class="form-control" placeholder="На выходе из гидротрансформатора"><br>
        <input type="number" step="any" name="pressure_oil_s" id="pressure_oil_s" class="form-control" placeholder="Давление в системе смазки"><br>
<h1>Тормозное оборудование:</h1>
        <input type="date" name="data_check" id="data_check" class="form-control" placeholder="Давление масла питательного насоса "><br>
        <input type="number" step="any" name="depth" id="depth" class="form-control" placeholder="На выходе из гидротрансформатора"><br>
        <input type="number" step="any" name="rod" id="rod" class="form-control" placeholder="Давление в системе смазки"><br>
                  <h1>Приборы безопасности</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0">
 <thead>
   <tr align="center">

    <th>Вид испытания</th>
    <th>Результат</th>
   </tr>
    </thead>

   <tr><td>Производительность компрессора </td>


       <td><input type="number" step="any" name="compressor" id="compressor" class="form-control"></td>
   </tr>
               <tr><td>Плотность ПМ  </td>
       <td><input type="number" step="any" name="density_PM" id="density_PM" class="form-control"></td>
   </tr>
               <tr><td>Плотность ТМ  </td>
       <td><input type="number" step="any" name="density_TM" id="density_TM" class="form-control"></td>
   </tr>
               <tr><td>Плотность ТЦ  </td>
       <td><input type="number" step="any" name="density_TC" id="density_TC" class="form-control"></td>
   </tr>
               <tr><td>Отпуск ТЦ  </td>
       <td><input type="number" step="any" name="time_TC" id="time_TC" class="form-control"></td>
   </tr>
               <tr><td>Плотность УР  </td>
       <td><input type="number" step="any" name="density_UR" id="density_UR" class="form-control"></td>
   </tr>
               <tr><td>Время наполнения ТМ  </td>
       <td><input type="number" step="any" name="time_TM" id="time_TM" class="form-control"></td>
   </tr>
               <tr><td>Время наполнения УР   </td>
       <td><input type="number" step="any" name="time_UP" id="time_UP" class="form-control"></td>
   </tr>
               <tr><td>Регулировка редуктора  </td>
       <td><input type="number" step="any" name="reducer" id="reducer" class="form-control"></td>
   </tr>
               <tr><td>Темп служебной разрядки  </td>
       <td><input type="number" step="any" name="pace_1" id="pace_1" class="form-control"></td>
   </tr>
               <tr><td>Темп ликвидации сверх зарядки </td>
       <td><input type="number" step="any" name="pace_2" id="pace_2" class="form-control"></td>
   </tr>
               <tr><td>Темп экстренной разрядки  </td>
       <td><input type="number" step="any" name="pace_3" id="pace_3" class="form-control"></td>
   </tr>
               <tr><td>Срыв ЭПК </td>
       <td><input type="number" step="any" name="EPK" id="EPK" class="form-control"></td>
   </tr>


  </table>
        <input type="submit" class="btn btn-danger" value="Отправить">
        <a href="/home" class="btn btn-lg btn-outline-secondary">Назад</a>
        <div class="form-group" id="process" style="display:none;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style=""></div>
        </div>
        </div>
        <br><br>
         {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {%  endfor %}
    </form>
</div>
{% endblock %}