{% extends 'base.html' %}

{% block title %}
Оценка
{% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<div class="container mt-5">


        <h1>Техническое обслуживание:</h1>
 <div class="alert alert-info">
        <p>Номер ТО: {{ list.id_maintenance }}</p>
        <p>Вид ТО: {{ list.type }}</p>
        <p>Дата ТО: {{ list.date_maintenance }}</p>
        <p>Оценка: {{ list.grade }}</p>
        <p>Ремонт: {{ list.repair }}</p>
    </div>
           <h1>Замер разбега колёсных пар в буксовых направляющих</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0" >
 <thead>
   <tr align="center">
       <td rowspan="3">Колёсная пара</td>

    <th colspan="4">В поперечном направлении, мм</th>
    <th colspan="2">В продольном направлении, мм</th><th></th>
   </tr>
             <tr align="center">

    <th colspan="2">Правая букса</th>
    <th colspan="2">Левая букса</th>
       <th rowspan="2">Правая букса</th>
    <th rowspan="2">Левая букса</th>
   </tr>
             <tr align="center">
    <th>лев</th>
    <th>прав</th>
       <th>лев</th>
    <th>прав</th>
                 <th></th>
                 <th></th>
   </tr>
    </thead>
   <tr><td>1-я колёсная пара</td>
       <td>{{ list.d1.first_across_rl }}</td>
       <td>{{ list.d1.first_across_rr }}</td>
       <td>{{ list.d1.first_across_ll }}</td>
       <td>{{ list.d1.first_across_lr }}</td>
       <td>{{ list.d1.first_lateral_r }}</td>
       <td>{{ list.d1.first_lateral_l }}</td>
   </tr>
             <tr><td>2-я колёсная пара</td>
       <td>{{ list.d1.second_across_rl }}</td>
       <td>{{ list.d1.second_across_rr }}</td>
       <td>{{ list.d1.second_across_ll }}</td>
       <td>{{ list.d1.second_across_lr }}</td>
       <td>{{ list.d1.second_lateral_r }}</td>
       <td>{{ list.d1.second_lateral_l }}</td>
   </tr>
  </table>
                 <h1>Замер рессорного подвешивания</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0">
 <thead>
   <tr align="center">
       <td rowspan="3"></td>

    <th colspan="4">1-я колёсная пара (под дизелем)</th>
    <th colspan="4">2-я колёсная пара</th><th></th>
   </tr>
             <tr align="center">

    <th colspan="2">Правая рессора</th>
    <th colspan="2">Левая рессора</th>
       <th colspan="2">Правая рессора</th>
    <th colspan="2">Левая рессора</th>
   </tr>
             <tr align="center">
    <th>Правый край Н1</th>
    <th>Левый крайН2</th>
       <th>Правый край Н2</th>
    <th>Левый край Н1</th>
                 <th>Правый край Н1</th>
                 <th>Левый край Н2</th>
                 <th>Правый край Н2</th>
                 <th>Левый край Н1</th>
   </tr>
    </thead>

   <tr align="center"><td>Измеренное значение, мм</td>
       <td>{{ list.d2.first_r_spring_H1 }}</td>
       <td>{{ list.d2.first_r_spring_H2 }}</td>
       <td>{{ list.d2.first_l_spring_H1 }}</td>
       <td>{{ list.d2.first_l_spring_H2 }}</td>
       <td>{{ list.d2.second_r_spring_H1 }}</td>
       <td>{{ list.d2.second_r_spring_H2 }}</td>
       <td>{{ list.d2.second_l_spring_H1 }}</td>
       <td>{{ list.d2.second_l_spring_H2 }}</td>
   </tr>
             <tr align="center"><td>Середина рессора</td>
       <td colspan="2">{{ list.d2.first_r_spring_m }}</td>
       <td colspan="2">{{ list.d2.first_l_spring_m }}</td>
       <td colspan="2" >{{ list.d2.second_r_spring_m }}</td>
       <td colspan="2">{{ list.d2.second_l_spring_m }}</td>
   </tr>


</table>
                   <h1>Приборы безопасности</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0" >
 <thead>
   <tr align="center">

    <th>Прибор</th>
    <th>Состояние</th>
   </tr>
    </thead>

   <tr {% if list.d6.bel =="Исправен" %} style='background-color:#98FB98'
               {% else %} style='background-color:#FA8072'{% endif %} in align="center"><td>БЭЛ</td>
       <td  >{{ list.d6.bel }}</td>
   </tr>
               <tr {% if list.d6.bil1 =="Исправен" %} style='background-color:#98FB98'
               {% else %} style='background-color:#FA8072'{% endif %} in align="center"><td>БИЛ-1</td>
       <td >{{ list.d6.bil1 }}</td>
   </tr>
               <tr {% if list.d6.bil2 =='Исправен' %} style='background-color:#98FB98'
               {% else %} style='background-color:#FA8072'{% endif %} in align="center"><td>БИЛ-2</td>
       <td >{{ list.d6.bil2 }}</td>
   </tr>
               <tr align="center"><td>БКР</td>
       <td {% if list.d6.bkr =="Исправен" %} style='background-color:#98FB98'
               {% else %} style='background-color:#FA8072'{% endif %} in>{{ list.d6.bkr }}</td>
   </tr>
                <tr align="center"><td>ДУП</td>
       <td {% if list.d6.dup == "Исправен" %} style='background-color:#98FB98'
               {% else %} style='background-color:#FA8072'{% endif %} in>{{ list.d6.dup }}</td>
   </tr>

  </table>
                        <h1>Дизель-генераторная установка:</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0">


     <tr><td>Наработка от последнего ТО м.ч.</td><td>{{ list.d3.time }}</td></tr>
     <tr><td>Тип смазки В картере</td><td>{{ list.d3.type_oil }}</td></tr>
        <tr><td>Количество смазки</td><td {% if list.d3.amount_oil ==32 %} style='background-color:#98FB98'
               {% else %} style='background-color:#FA8072'{% endif %} in>{{ list.d3.amount_oil }}</td></tr>


  </table>
        <h1>Технические показатели дизельного двигателя:</h1>
     <table class="tabl">
            <tr><td>Давление масла при холодном пуске:</td><td>{{ list.d3.pressure_oil }}</td></tr>
            <tr><td>Натяжение ремней привода генератора прогиб:</td><td>{{ list.d3.tension }}</td></tr>
            <tr><td>Зарядное напряжение генератора:</td><td>{{ list.d3.voltage }}</td></tr>
         <tr><td>Оценка:</td><td>{{ list.d3.grade_dvs }}</td></tr>
        </table>
 <h1>Гидропередача:</h1>
       <table class="tabl">
            <tr><td>Давление масла питательного насоса:</td><td>{{ list.d4.pressure_oil_p }}</td></tr>
            <tr><td>На выходе из гидротрансформатораб:</td><td>{{ list.d4.pressure_oil_t }}</td></tr>
            <tr><td>Давление в системе смазки:</td><td>{{ list.d4.pressure_oil_s }}</td></tr>
         <tr><td>Оценка:</td><td>{{ list.d4.grade_transmission }}</td></tr>
        </table>

<h1>Тормозное оборудование:</h1>
     <table class="tabl">
            <tr><td>Дата поверки предохранительного клапана:</td><td>{{ list.d7.data_check }}</td></tr>
            <tr><td>Толщина тормозных колодок :</td><td>{{ list.d7.depth }}</td></tr>
            <tr><td>Выход штока тормозного цилиндра:</td><td>{{ list.d7.rod }}</td></tr>
         <tr><td>Оценка:</td><td>{{ list.d7.grade_brake }}</td></tr>
        </table>
                  <h1>Приборы безопасности</h1>
           <table class="tabl" border="1" cellpadding="4" cellspacing="0">
 <thead>
 <tr align="center">
     <th>Вид испытания</th>
     <th>Результат</th>
 </tr>
 </thead>
               <tr {% if list.d5.compressor < 2.5 %} style='background-color:#ffcccc'
               {% elif 2.8 < list.d5.compressor < 4.6 %} style='background-color:#F0E68C'
               {% else %} style='background-color:#98FB98'{% endif %} in>
                    <td>Производительность компрессора </td>
                    <td>{{ list.d5.compressor }}</td>
               </tr>
               <tr {% if list.d5.density_PM < 2.5 %} style='background-color:#ffcccc'
               {% elif 2.8 < list.d5.density_PM < 4.6 %} style='background-color:#F0E68C'
               {% else %} style='background-color:#98FB98'{% endif %} in>
                    <td>Плотность ПМ</td>
                    <td>{{ list.d5.density_PM }}</td>
               </tr>
               <tr {% if list.d5.density_TM < 2.5 %} style='background-color:#ffcccc'
               {% elif 2.8 < list.d5.density_TM < 4.6 %} style='background-color:#F0E68C'
               {% else %} style='background-color:#98FB98'{% endif %} in>
                    <td>Плотность ТМ  </td>
                    <td>{{ list.d5.density_TM }}</td>
                </tr>


               <tr><td>Плотность ТЦ  </td>
       <td>{{ list.d5.density_TC }}</td>
   </tr>
               <tr><td>Отпуск ТЦ  </td>
       <td>{{ list.d5.time_TC }}</td>
   </tr>
               <tr><td>Плотность УР  </td>
       <td>{{ list.d5.density_UR }}</td>
   </tr>
               <tr><td>Время наполнения ТМ  </td>
       <td>{{ list.d5.time_TM }}</td>
   </tr>
               <tr><td>Время наполнения УР   </td>
       <td>{{ list.d5.time_UP }}</td>
   </tr>
               <tr><td>Регулировка редуктора  </td>
       <td>{{ list.d5.reducer }}</td>
   </tr>
               <tr><td>Темп служебной разрядки  </td>
       <td>{{ list.d5.pace_1 }}</td>
   </tr>
               <tr><td>Темп ликвидации сверх зарядки </td>
       <td>{{ list.d5.pace_2 }}</td>
   </tr>
               <tr><td>Темп экстренной разрядки  </td>
       <td>{{ list.d5.pace_3 }}</td>
   </tr>
               <tr><td>Срыв ЭПК </td>
       <td>{{ list.d5.EPK }}</td>
   </tr>


  </table>

        <a href="/home" class="btn btn-lg btn-outline-secondary">Назад</a>
        <div class="form-group" id="process" style="display:none;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style=""></div>
        </div>
        </div>
        <br><br>
         {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {%  endfor %}
<script src="{{ url_for('static', filename='js/scripts1.js') }}"></script>
</div>
{% endblock %}