{% extends 'base.html' %}

{% block title %}
РЖД
{% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<div class="container mt-5">
<h1>Путевые машины</h1>
    {% if list|length > 0 %}
<br>
    <p>
        <a class="btn btn-danger" href="/create">Провести оценку</a>
        <a class="btn btn-danger" href="/excel">Скачать Execl-файл</a>
        <a class="btn btn-danger" href="/export">Загрузить данные из Execl-файла</a>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {%  endfor %}
    </p>

    <div id="remove">
       <form action="/remove" method="POST">
           <input href="/modal" class="btn btn-danger my-2" type="submit" value="Удалить выбранные записи">
           <div class="table-responsive">
               <table class="table table-striped table-sm">
                   <thead>
                   <tr>
                       <th></th>
                       <th>Серийный номер</th>
                       <th>Вид ТО</th>
                       <th>Оценка</th>
                       <th>Дата диагностики</th>
                   </tr>
                   </thead>
                   <tbody>
                    {% for m in list %}
                    <tr>
                    <th><input type="checkbox" name="check" id="{{m.id}}" value="{{m.id}}"></th>
                    <td>{{ m.number }}</td>
                    <td>{{ m.type_TO }}</td>
                    <td>{{ m.grade }}</td>
                    <td>{{ m.date_TO.date() }}</td>
                    <th><a href="/posts/{{ m.id }}" class="btn btn-sm btn-outline-secondary ">Детальнее</a></th>
                    <th><a href="/posts/{{ m.id }}/update" class="btn btn-sm btn-outline-secondary">Редактировать</a></th>
                    </tr>
                    {% endfor %}
                   </tbody>
               </table>
           </div>
       </form>
   </div>
    {% else %}
        <p>Нет записей в БД</p>
    {% endif %}
</div>
 <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}
