body {
  background: url("https://s0.rbk.ru/v6_top_pics/media/img/7/41/755682797329417.jpeg") no-repeat center center fixed;
  background-size: cover;
}

div {
    border-radius: 10px; /* закругленные углы блока */
    background: white; /* Цвет фона,*/
}

tr.empty1 {
  background:#FA8072;
}

table.empty {
  background:#DC143C;
}
.on {
    color: red;
}
header{
    background-color: white;


}

tr.empty {
  background:#98FB98;
}

tr.empty2 {
   background:#F0E68C;
}
div.selected {
background: #F08080;
}
tbody tr:hover {
    background: #d6d4d4; /* Цвет фона при наведении */
    color: #000000; /* Цвет текста при наведении */
   }

.tabl {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #616060;
	border-collapse: collapse;
}
.tabl th {
	font-weight: bold;
	padding: 5px;
	background:#d6d4d4;
	border: 1px solid #616060;
}
.tabl td {
	border: 1px solid #616060;
	padding: 5px;
}

.test2 {
table-layout: fixed; /* фиксированный алгоритм размещения макета таблицы браузером */
}
.flash {padding: 10px;}
.flash.success {
   border: 1px solid #21DB56;
   background: #AEFFC5;
}
.flash.error {
  border: 1px solid #FF4343;
  background: #FF9C9C;
}



.modal {
    margin: 10px;
    padding: 300px;
    background-color: rgba(0, 0, 0, 0);
}


